.product {
  width: 18.75rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 1px 4px black;
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product > img {
  height: 10.625rem;
}
.product_info > p {
  margin-bottom: 0.5rem;
}
.info_price {
  font-weight: bold;
}
.info_name {
  margin-top: 00.3rem;
  font-size: 1rem;
  overflow: hidden;
  font-weight: 500;
  letter-spacing: 1px;
}
.info_desc {
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info_btn {
  width: 100% !important;
}

/* Product Info */
.product_details {
  margin: 1rem auto;
  display: flex;
}
.left_side {
  display: flex;
  flex: 0.8;
}
.left_image {
  margin: 1rem;
  flex: 0.6;
}
.left_info {
  margin: 1rem;
  flex: 0.4;
  height: fit-content;
  font-size: 0.9rem;
  background-color: rgb(221, 221, 221);
}
.left_info_name {
  font-weight: bold;
  font-size: 1.3rem;
}
.left_info > p,
.right_info > p {
  padding: 1rem;
  border-bottom: 1px solid rgb(168, 168, 168);
}
.left_info > p:last-child,
.right_info > p:last-child {
  border: none;
}

.right_side {
  flex: 0.2;
}
.right_info {
  width: 15.625rem;
  margin: 1rem;
  background-color: rgb(221, 221, 221);
  box-shadow: 0px 1 px 4px black;
}
.right_info > p {
  padding: 1rem;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.right_info > select {
  padding: 1rem 1rem;
}
.info_btn {
  grid-column: 1/-1;
}

@media (max-width: 960px) {
  .product_details {
    flex-direction: column;
  }
  .left_side {
    flex-direction: column;
    flex: 1;
  }
  .left_image {
    flex: 1;
  }
  .left_info {
    flex: 1;
  }
  .right_side {
    flex: 1;
  }
}
